.overlay{
   position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: all ease 0.3s;
  }
  
  .item:hover .overlay{
      opacity: 1;
  }

  i .fa-search-plus{
    height: 20px;
    width: 22px;
    cursor:pointer;
}
  
  
  
  
  